.venv/
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.DS_Store

# Local data and outputs
data/
rate_design/ny/hp_rates/data/buildstock_raw/
rate_design/ny/hp_rates/data/buildstock_processed/
rate_design/ny/hp_rates/data/cairo_cases/
outputs/
site/

# Python packaging/build artifacts
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

*.csv
*.json
!dprint.json
!.markdownlint.json

# Terraform state files
infra/*.tfstate
infra/*.tfstate.*
infra/.terraform/
infra/.terraform.lock.hcl

.secrets
