.venv/
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.DS_Store
dev_no_commit.py

# Local data and outputs
# data/
data/hud/ami/xlsx/
data/hud/ami/parquet/
data/hud/smi/json/
data/hud/smi/parquet/
data/census/pums/zips/
data/census/pums/csv/
data/census/pums/parquet/
data/census/pums/data_dict_cache/
data/eia/861/electric_utility_stats/
data/eia/861/parquet/
data/eia/hourly_loads/zone_parquet/
data/eia/hourly_loads/utility_parquet/
data/fred/cpi/parquet/
data/nyiso/icap/parquet/
data/nyiso/lbmp/zips/
data/nyiso/lbmp/parquet/
rate_design/ny/hp_rates/config/buildstock_raw/
rate_design/ny/hp_rates/config/buildstock_processed/
rate_design/ny/hp_rates/config/cairo_cases/
rate_design/ny/hp_rates/config/resstock/loads/
rate_design/ny/hp_rates/config/resstock/results_*.parquet
outputs/
site/

# Python packaging/build artifacts
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

*.csv
*.json
!dprint.json
!.markdownlint.json
!rate_design/ny/hp_rates/config/tariffs/**
!rate_design/ri/hp_rates/config/tariffs/**
!rate_design/ny/hp_rates/config/tariff_maps/**
!rate_design/ri/hp_rates/config/tariff_maps/**
!rate_design/ny/hp_rates/config/marginal_costs/**
!rate_design/ri/hp_rates/config/marginal_costs/**
!rate_design/ri/hp_rates/config/distribution_cost_params.json

# Terraform state files
infra/*.tfstate
infra/*.tfstate.*
infra/.terraform/
infra/.terraform.lock.hcl

.secrets
.env
.gspread_authorized_user.json

CLAUDE.md
