[project]
name = "rate-design-platform"
version = "0.0.0"
description = "Skeleton for the rate design platform."
readme = "README.md"
requires-python = ">=3.11"
authors = [{ name = "Switchbox Data" }]
license = { file = "LICENSE" }
dependencies = [
    "buildstock-fetch",
    "cairo",
    "polars",
    "numpy",
    "pyarrow",
]

[project.optional-dependencies]
dev = ["pytest"]

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = { "" = "src" }

[tool.setuptools.packages.find]
where = ["src"]
include = ["rate_design*"]

[tool.uv.sources]
cairo = { git = "https://github.com/NREL/CAIRO.git", rev = "tb/dev_package" }
